.hexagon {
	position: relative;
	width: 18rem;
	height: 10rem;
	background-color: #f6a400;
	margin: 6rem 0;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 9rem solid transparent;
	border-right: 9rem solid transparent;
}

.hexagon:before {
	bottom: 100%;
   border-bottom: 5rem solid #f6a400;
   
}

.hexagon:after {
	top: 100%;
	width: 0;
	border-top: 5rem solid #f6a400;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6447px;
}

.hexagon:before {
  top: -35.3553px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexagon:after {
  bottom: -35.3553px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}

