body {
	background-color: #fef5e4;
	width: 100%;
}

.hexagon {
	position: relative;
	/* display: inline-block; */
	width: 120px;
	height: 120px;
}
.hexagon .hexagon-shape {
	position: absolute;
	top: -90px;
	left: -60px;
	overflow: hidden;
	display: inline-block;
	margin: 48px 0;
	width: 240px;
	height: 208px;
	-webkit-transform: rotate(-30deg) skewX(30deg) scale(0.5);
	-moz-transform: rotate(-30deg) skewX(30deg) scale(0.5);
	-ms-transform: rotate(-30deg) skewX(30deg) scale(0.5);
	-o-transform: rotate(-30deg) skewX(30deg) scale(0.5);
	transform: rotate(-30deg) skewX(30deg) scale(0.5);
	border-radius: 15px;
}
.hexagon .hexagon-shape *,
.hexagon .hexagon-shape *:before {
	display: block;
	overflow: hidden;
	width: inherit;
	height: inherit;
	border-radius: inherit;
}
.hexagon .hexagon-shape .hexagon-shape-inner {
	-webkit-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	-moz-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	-ms-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	-o-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	/* opacity: 1; */
}
.hexagon .hexagon-shape:first-child .hexagon-shape-inner:before,
.hexagon .hexagon-shape .hexagon-shape-inner-2 {
	-webkit-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	-moz-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	-ms-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	-o-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	background: transparent;
	content: "";
}
.hexagon.hexagon-with-border .hexagon-shape.content-panel {
	-webkit-transform: rotate(-30deg) skewX(30deg) scale(0.46);
	-moz-transform: rotate(-30deg) skewX(30deg) scale(0.46);
	-ms-transform: rotate(-30deg) skewX(30deg) scale(0.46);
	-o-transform: rotate(-30deg) skewX(30deg) scale(0.46);
	transform: rotate(-30deg) skewX(30deg) scale(0.48);
}
.hexagon.hexagon-with-border
	.hexagon-shape.content-panel:first-child
	.hexagon-shape-inner:before,
.hexagon.hexagon-with-border
	.hexagon-shape.content-panel
	.hexagon-shape-inner-2 {
	background: #fef5e4;
}

.hexagon .hexagon-content {
	position: relative;
	top: 20px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 1.5;
}

.hexagon .hexagon-content .content-title {
	float: center;
	font-family: "Changa One", cursive;
	text-align: center;
	opacity: 50%;
	font-size: 24px;
	margin-top: 1em;
}

.hexagon.warning .hexagon-shape:first-child .hexagon-shape-inner:before,
.hexagon.warning .hexagon-shape-inner-2 {
	background: #f6a400;
}

#hexGrid {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	flex-direction: row;
	margin-bottom: -20px;
}

.centerme {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border: 2px solid #F6A400; */
	border-radius: 10%;
	text-align: center;
	align-content: center;

	padding: 30px;
	background-color: #fef5e4;
	height: 600px;
	width: 300px;
	position: fixed;
	left: calc(50vw - 150px);
	top: 5vh;
}

.verticalform {
	text-align: match-parent;
	width: 200px;
	height: 350px;
}

.formdiv {
	border-radius: 10%;
	background-color: #ffffff;
	opacity: 90%;
	padding: 10px;
}
.landingbody {
	text-align: match-parent;
}

a {
	text-decoration: none;
	color: black;
	transition: color 0.5s ease;
}
